@mixin font-style($weight,$size,$height) {
    font-weight: $weight;
    font-size: $size;
    line-height: $height;
}
  
@mixin text-border ($border,$border-radius,$width,$height) {
    border: $border;
    border-radius: $border-radius;
    width: $width;
    height: $height;
}

@mixin background ($background-image) {
    background-image: url($background-image);
}

@mixin large-screen{
  @media only screen and (min-width: 1200px){
    @content; 
  }
}

@mixin medium-screen{
  @media only screen and (max-width: 1199px) and (min-width:768px){
    @content; 
  }
}

@mixin small-screen{
  @media only screen and (max-width: 767px){
    @content; 
  }
}
