<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/styles/index.scss">
    <link rel="stylesheet" href="/assets/styles/vendor/bootstrap.min.css">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <title>Dream Share</title>
</head>

<body>
    <div class="container header">
        <div class="row header--nav">
            <div class="col-xl-4 col-md-4 col-0 l-screen">
                <p>DREAM SHARE</p>
            </div>
            <div class="col-xl-4 col-md-4 col-0"></div>
            <div class="col-xl-4 col-md-4 col-12">
                <ul class="nav">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Log in</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Sign up</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-0 col-md-0 col-12 m-screen">
                <p>DREAM SHARE</p>
            </div>
        </div>
        <div class="row header--title">
            <p class="main">SHARE YOUR HOLIDAY DREAM</p>
            <P class="sub">And find the perfect partner to fullfill it</P>
            <div class="header__button">
                <button type="button" class="btn">Find your holiday partner</button>
            </div>
        </div>
    </div>
    <div class="container content">
        <p>How Dreamshare works?</p>
        <div class="row content__photo">
            <div class="col-xl-2"></div>
            <div class="col-xl-8 d-flex justify-content-between">
                <div class="photo--A">
                    <div>
                        <button type="button" class="btn">STEP 1</button>
                    </div>
                    <p class="title">Sed leo enim, condimentum</p>
                    <p class="subtitle">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                </div>
                <div class="photo--B">
                    <div>
                        <button type="button" class="btn">STEP 2</button>
                    </div>
                    <p class="title">Morbi velit risus</p>
                    <p class="subtitle">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
                </div>
                <div class="photo--C">
                    <div>
                        <button type="button" class="btn">STEP 3</button>
                    </div>
                    <p class="title">Sed leo enim, condimentum</p>
                    <p class="subtitle">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
                </div>
            </div>
            <div class="col-xl-2"></div>
        </div>
        <div class="row content__photo--s-screen">
            <div class="col-12 photo--A">
                <div>
                    <button type="button" class="btn photo__btn">STEP 1</button>
                </div>
                <p class="title">Sed leo enim, condimentum</p>
                <p class="subtitle">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </div>
            <div class="col-12 photo--B">
                <div>
                    <button type="button" class="btn photo__btn">STEP 2</button>
                </div>
                <p class="title">Morbi velit risus</p>
                <p class="subtitle">Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet porttitor est.</p>
            </div>
            <div class="col-12 photo--C">
                <div>
                    <button type="button" class="btn photo__btn">STEP 3</button>
                </div>
                <p class="title">Sed leo enim, condimentum</p>
                <p class="subtitle">Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec rhoncus a leo sit amet facilisis.</p>
            </div>
        </div>
    </div>
    <div class="container content content--l-screen">
        <p>Meet a partner for your best holiday</p>
        <div class="row">
            <div class="col-xl-2 col-0"></div>
            <div class="col-xl-2 col-12 profile">
                <div>
                    <img src="assets/images/Avatar_1.png" alt="Avatar_1">
                    <p class="title">Bradley Hunter</p>
                    <p class="subtitle">Based in Chicago. I love playing tennis and loud music.</p>
                </div>
            </div>
            <div class="col-xl-2 col-12 profile">
                <div>
                    <img src="assets/images/Avatar_2.png" alt="Avatar_2">
                    <p class="title">Marie Bennett</p>
                    <p class="subtitle">Currently living in Colorado. Lover of art, languages and travelling.</p>
                </div>
            </div>
            <div class="col-xl-2 col-12 profile">
                <div>
                    <img src="assets/images/Avatar_3.png" alt="Avatar_3">
                    <p class="title">Diana Wells</p>
                    <p class="subtitle">Living in Athens, Greece. I love black and white classics, chillout music and green tea.</p>
                </div>
            </div>
            <div class="col-xl-2 col-12 profile">
                <div>
                    <img src="assets/images/Avatar_4.png" alt="Avatar_4">
                    <p class="title">Christopher Pierce</p>
                    <p class="subtitle"> Star Wars fanatic. I have a persistent enthusiasm to create new things.</p>
                </div>
            </div>
            <div class="col-xl-2 col-0"></div>
        </div>
        <div class="body__button">
            <button type="button" class="btn">See other partners</button>
        </div>
    </div>
    <div class="container content content--m-screen">
        <p>Meet a partner for your best holiday</p>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-4">
                <div class="profile">
                    <img src="assets/images/Avatar_1.png" alt="Avatar_1">
                    <p class="title">Bradley Hunter</p>
                    <p class="subtitle">Based in Chicago. I love playing tennis and loud music.</p>
                </div>
                <div class="profile profile--Marie-Bennett">
                    <img src="assets/images/Avatar_2.png" alt="Avatar_2">
                    <p class="title">Marie Bennett</p>
                    <p class="subtitle">Currently living in Colorado. Lover of art, languages and travelling.</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="profile">
                    <img src="assets/images/Avatar_3.png" alt="Avatar_3">
                    <p class="title">Diana Wells</p>
                    <p class="subtitle">Living in Athens, Greece. I love black and white classics, chillout music and green tea.</p>
                </div>
                <div class="profile profile--Christopher-Pierce">
                    <img src="assets/images/Avatar_4.png" alt="Avatar_4">
                    <p class="title">Christopher Pierce</p>
                    <p class="subtitle"> Star Wars fanatic. I have a persistent enthusiasm to create new things.</p>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
        <div class="body__button">
            <button type="button" class="btn">See other partners</button>
        </div>
    </div>
    <div class="container content content--s-screen">
        <p>Discover holiday activity ideas</p>
        <div class="row content__gallery">
            <div class="col-xl-2 col-md-0"></div>
            <div class="col-xl-8 col-md-12 d-flex justify-content-between">
                <div class="gallery--A">
                    <p>Sports and Activis</p>
                </div>
                <div class="gallery--B">
                    <p>Wellness and Health</p>
                </div>
                <div class="gallery--C">
                    <p>Extreme Sports and Expeditions</p>
                </div>
            </div>
            <div class="col-xl-2 col-md-0"></div>
        </div>
        <div class="row content__gallery">
            <div class="col-xl-2 col-md-0"></div>
            <div class="col-xl-8 col-md-12 d-flex ">
                <div class="gallery--D">
                    <p>Games</p>
                </div>
                <div class="gallery--E ">
                    <p>Culture and Education</p>
                </div>
            </div>
            <div class="col-xl-2 col-md-0"></div>
        </div>
        <div class="row content__gallery">
            <div class="col-xl-2 col-md-0"></div>
            <div class="col-xl-8 col-md-12 d-flex ">
                <div class="gallery--F">
                    <p>Enjomet and Relaxation</p>
                </div>
                <div class="gallery--G">
                    <p>Travelling</p>
                </div>
            </div>
            <div class="col-xl-2 col-md-0"></div>
        </div>
        <div class="row content__gallery--s-creen">
            <div class="col-12 gallery--A">
                <p>Sports and Activis</p>
            </div>
            <div class="col-12 gallery--B">
                <p>Wellness and Health</p>
            </div>
            <div class="col-12 gallery--C">
                <p>Extreme Sports and Expeditions</p>
            </div>
            <div class="col-12 gallery--D">
                <p>Games</p>
            </div>
            <div class="col-12 gallery--E ">
                <p>Culture and Education</p>
            </div>
            <div class="col-12 gallery--F">
                <p>Enjomet and Relaxation</p>
            </div>
            <div class="col-12 gallery--G">
                <p>Travelling</p>
            </div>
        </div>
    </div>
    <div class="container content content--search-box">
        <div class="row">
            <div class="col-md-2 col-0"></div>
            <div class="col-md-8 col-12 Search-box">
                <p>Create your holiday activity</p>
                <p class="subtitle">Hi! What are your holiday interests?</p>
                <form class="form-inline" action="/action_page.php">
                    <input type="text" id="email" placeholder="Enter your insterests" name="email">
                    <button type="submit" class="btn">Search partners</button>
                </form>
            </div>         
        </div>
        <div class="col-md-2 col-0"></div>
    </div>
    <div class="container footer">
        <div class="row">
            <div class="col-xl-2 col-md-12 col-0"></div>
            <div class="col-xl-2 col-md-4 col-12 dream">
                <p>DREAMSHARE</p>
            </div>
            <div class="col-xl-2 col-md-2 col-12 contact">
                <p>Company</p>
                <ul class="nav flex-colum l-screen">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Press</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Terms and Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                </ul>
                <ul class="nav justify-content-center s-screen">
                    <li class="nav-item">
                        <a class="nav-link" href="#">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Press</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Blog</a>
                    </li>
                </ul>
                <ul class="nav justify-content-center s-screen">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Terms and Privacy</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Help</a>
                    </li>
                </ul>
            </div>
            <div class="col-xl-3 col-md-3 col-12 partner">
                <p>Partners</p>
            </div>
            <div class="col-xl-1 col-md-3 col-12 logo">
                <p>DESIGNED BY</p>
                <img src="assets/images/Bitmap.png" alt="logo">
            </div>
            <div class="col-xl-2 col-md-12 col-0"></div>
        </div>
    </div>
</body>


</html>