%basic-button {
    background-color: $secondary-color;
    padding: 11px 19px;
    border: 2px solid $secondary-color;
    border-radius: 40px;
    color: $primary-color;
    font-size: 14px;
    font-weight: bold;
    line-height: 18px;
    letter-spacing: 1px;
    &:hover {
        background-color: red;
        color: $primary-color;
      }
}