%nav-link {
    @include font-style(normal, 14px, 18px);
        padding: 0;
        display: inline;
        letter-spacing: 1.2px;
        color: $primary-color;
        &:hover {
            border: 2px solid #FFFFFF;
            border-radius: 40px;
            padding: 9px 17.5px;      
            text-decoration: none;
    }
}